<%- include('partials/header') %>

<div class="container padding-top-bottom">
    <div class="page-heading">
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="page-heading__text">Portfolio</h1>
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">

        <% for( let i = 0; i < projects.length; i++ ) { %>

        <div class="card">
            <a href="<%= projects[i].deployedUrl ? projects[i].deployedUrl : projects[i].githubUrl %>"
                class="card__thumb"
                style="background-image: url('<%= projects[i].img %>');">
            </a>
            <article class="card__content">
                <h1 class="card__header"> <%= projects[i].name %> </h1>
                <p class="card__p card__topic"><span class="card__span">Tech Stack:</span></p>
                <p class="card__p"> <%= projects[i].stack %> </p>
                <p class="card__p card__topic"><span class="card__span">Github:</span></p>
                <p class="card__p"><a class="card__link" href="<%= projects[i].githubUrl %>">
                        <%= projects[i].githubName %> </a>
                </p>
                <% if (projects[i].deployedName) { %>
                <p class="card__p card__topic"><span class="card__span">Deployed:</span></p>
                <p class="card__p"><a class="card__link" href="<%= projects[i].deployedUrl %>">
                        <%= projects[i].deployedName %> </a>
                </p>
                <% } %>
            </article>
        </div>

        <% } %>

    </div>
</div>


<%- include('partials/footer') %>