<%- include('partials/header') %>

<div style=" grid-row-start: 2;
grid-row-end: 5;" class="container padding-top-bottom">
    <div class="page-heading">
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="page-heading__text">Portfolio</h1>
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">

        <% for( let i = 0; i < projects.length; i++ ) { %>

        <div class="card">
            <a href="<%= projects[i].githubUrl %>" class="project">
                <img src="<%= projects[i].img %>">
                <div class="overlay"></div>
                <div class="project--info">
                    <div class="project--title">
                        <h2><span><%= projects[i].name %></span></h2>
                    </div>
                  <p class="project--summary"><%= projects[i].summary %></p>
                  <p class="project--stack"><%= projects[i].stack %></p>
                </div>
              </a>
        </div>

        <% } %>

    </div>
</div>

<%- include('partials/footer') %>