<%- include('partials/header') %>

<div style=" grid-row-start: 2;
grid-row-end: 5;" class="container padding-top-bottom">
    <div class="page-heading">
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="page-heading__text">Portfolio</h1>
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">

        <% for( let i = 0; i < projects.length; i++ ) { %>

        <div class="card">

            <div class="project">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="#fff"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-more-vertical project--snowman">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="#fff"
                    stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-x project--close">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <img src="<%= projects[i].img %>">
                <div class="overlay"></div>
                <div class="project--info">
                    <div class="project--title">
                        <h2><span><%= projects[i].name %></span></h2>
                    </div>
                    <p class="project--summary"><%= projects[i].summary %></p>
                    <p class="project--stack"><%= projects[i].stack %></p>

                    <% if (projects[i].deployedUrl) { %>
                        <a href="<%= projects[i].deployedUrl %>" class="project--link">
                            <?xml version="1.0" encoding="UTF-8"?>
                            <svg class="project--svg" width="34px" height="34px" viewBox="0 0 34 34"
                                version="1.1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <title>external-link</title>
                                <g id="Page-1" stroke="none" stroke-width="1"
                                    fill="none" fill-rule="evenodd">
                                    <g id="github-(1)"
                                        transform="translate(1.000000, 1.000000)"></g>
                                    <g id="external-link"
                                        transform="translate(1.000000, 1.000000)"
                                        stroke="#FFFFFF" stroke-linecap="round"
                                        stroke-linejoin="round" stroke-opacity="0.7"
                                        stroke-width="1.5">
                                        <circle id="Oval" cx="16" cy="16" r="16">
                                        </circle>
                                        <path
                                            d="M23,16 L23,22 C23,23.1045695 22.1045695,24 21,24 L10,24 C8.8954305,24 8,23.1045695 8,22 L8,11 C8,9.8954305 8.8954305,9 10,9 L16,9"
                                            id="Path"></path>
                                        <polyline id="Path" points="20 6 26 6 26 12">
                                        </polyline>
                                        <line x1="15" y1="17" x2="26" y2="6" id="Path">
                                        </line>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    <% } %>
                    
                    

                    <a href="<%= projects[i].githubUrl %>" class="project--link">
                        <?xml version="1.0" encoding="UTF-8"?>
                        <svg class="project--svg" width="34px" height="34px" viewBox="0 0 34 34"
                            version="1.1" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <title>github (1)</title>
                            <g id="Page-1" stroke="none" stroke-width="1"
                                fill="none" fill-rule="evenodd"
                                stroke-linecap="round" stroke-linejoin="round"
                                stroke-opacity="0.7">
                                <g id="github-(1)"
                                    transform="translate(1.000000, 1.000000)"
                                    stroke="#FFFFFF" stroke-width="1.5">
                                    <circle id="Oval" cx="16" cy="16" r="16">
                                    </circle>
                                    <path
                                        d="M13,24 C8,25.5 8,21.5 6,21 M20,27 L20,23.13 C20.0758831,22.1653973 19.7334911,21.2147131 19.06,20.52 C22.2,20.17 25.5,18.98 25.5,13.52 C25.4997434,12.123827 24.9626921,10.7811988 24,9.77 C24.4558559,8.54850655 24.423624,7.19834937 23.91,6 C23.91,6 22.73,5.65 20,7.48 C17.7080091,6.85882174 15.2919909,6.85882174 13,7.48 C10.27,5.65 9.09,6 9.09,6 C8.576376,7.19834937 8.54414413,8.54850655 9,9.77 C8.03012711,10.7886997 7.49252265,12.1434629 7.49992303,13.55 C7.49992303,18.97 10.8,20.16 13.94,20.55 C13.2746196,21.2375636 12.9328714,22.1755533 13,23.13 L13,27"
                                        id="Shape"></path>
                                </g>
                            </g>
                        </svg>
                    </a>



                </div>
            </div>
        </div>

        <% } %>

    </div>
</div>

<%- include('partials/footer') %>