<%- include('partials/header') %>

<div class="container padding-top-bottom">
    <div class="section-portfolio">
        <img class="svg--line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="main--header">Portfolio</h1 class="main--header">
        <img class="svg--line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">

        <% for( let i = 0; i < projects.length; i++ ) { %>

        <div class="card">
            <a href="https://github.com/jacobguinther/Portfolio-Website"
                class="thumb"
                style="background-image: url('<%= projects[i].img %>');">
            </a>
            <article>
                <h1 class="card--header"> <%= projects[i].name %> </h1>
                <p class="card--topic"><span>Tech Stack:</span></p>
                <p> <%= projects[i].stack %> </p>
                <p class="card--topic"><span>Github:</span></p>
                <p><a href="<%= projects[i].githubUrl %>">
                        <%= projects[i].githubName %> </a>
                </p>
            </article>
        </div>

        <% } %>

    </div>
</div>


<%- include('partials/footer') %>