<%- include('partials/header') %>

<div style=" grid-row-start: 2;
grid-row-end: 5;" class="container padding-top-bottom">
    <div class="page-heading">
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
        <h1 class="page-heading__text">Portfolio</h1>
        <img class="page-heading__line" src="/img/icons/HR-short.svg" alt="#">
    </div>
    <div class="portfolio-grid">

        <% for( let i = 0; i < projects.length; i++ ) { %>

        <div class="card">

            <!-- <div class="card card__active"> -->
            <!-- <a href="<%= projects[i].githubUrl %>" class="project"> -->
            <div class="project">

                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="none" stroke="#fff"
                    stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round"
                    class="feather feather-more-vertical project--snowman">
                    <circle cx="12" cy="12" r="1"></circle>
                    <circle cx="12" cy="5" r="1"></circle>
                    <circle cx="12" cy="19" r="1"></circle>
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x project--close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
                <img src="<%= projects[i].img %>">
                <div class="overlay"></div>
                <div class="project--info">
                    <div class="project--title">
                        <h2><span><%= projects[i].name %></span></h2>
                    </div>
                    <p class="project--summary"><%= projects[i].summary %></p>
                    <p class="project--stack"><%= projects[i].stack %></p>
                </div>
            </div>
            <!-- </a> -->
        </div>

        <% } %>

    </div>
</div>

<%- include('partials/footer') %>